* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(0, 0, 0);
  color: #000000;
  font-family: "Open Sans", sans-serif;
}

a {
  color: #90581a;
  transition: 0.5s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

#hero {
  width: 100%;
  height: 100vh;
  background: url(https://eagerbeavers.charusat.ac.in/img/h.jpg) top center;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}

/* navbar */
#nav {
  background: #000;
  padding: 20px 0;
  height: 90px;
  padding: 1rem 10rem;
}

#nav #logo {
  float: left;
}

#nav #logo {
  float: left;
}

#nav #logo img {
  height: 50px;
}

.nav-link li {
  float: left;
}

.nav-link li a {
  padding: 10px 15px;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-style: bold;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 14px;
  outline: none;
}

.nav-link a:hover {
  color: #90581a;
  font-weight: bold;
}

li.menu-active a {
  color: #90581a;
  font-weight: bold;
}

#nav .container {
  height: 100%;
}

#nav .container #nav-menu-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
}

/* about */
#about {
  background: #90581a;
  padding: 80px 0;
  color: #fff;
}

#about .container {
  padding: 0 15px;
  margin-right: 10rem;
  margin-left: 10rem;
}

.title {
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-bottom: 40px;
}

.description {
  line-height: 25px;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  margin-bottom: 40px;
  margin: 0 0 30px 0;
}

#events {
  background: linear-gradient(
      rgba(255, 256, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    url(https://eagerbeavers.charusat.ac.in/img/services-bg.jpg) fixed center
      center;
  background-size: cover;
}
#events .container {
  padding: 80px 12rem 60px 12rem;
}

#events .container .title h3 {
  font-size: 32px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 15px;
  font-weight: 700;
}

#events .container .details {
  display: flex;
  /* justify-content: center;
  align-content: center; */
}

#events .container .details .card {
  width: 33.333%;
  margin-bottom: 20px;
  /* margin-right: 1rem; */
  padding: 1rem;
}

.card {
  cursor: pointer;
}

.details .icon {
  float: left;
  background: #90581a;
  cursor: pointer;
  padding: 16px;
  border-radius: 50%;
  transition: 0.5s;
  color: #fff;
  border: 1px solid #90581a;
}

.details .icon .fa-brands {
  font-weight: 300;
}

.details .title {
  margin-left: 80px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  text-align: left;
}

.details .dtl {
  margin-left: 80px;
  line-height: 24px;
}

.divider {
  width: 50px;
  height: 3px;
  background: #90581a;
  margin: 0 auto;
  margin-bottom: 20px;
}

.card:hover .icon {
  color: #90581a;
  background: #fff;
  border: 1px solid #90581a;
}

.btn {
  color: white;
  background-color: #90581a;
  float: right;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

#team {
  background: #fff;
  padding: 80px 0 60px 0;
}

#team .title h3 {
  font-size: 32px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 15px;
  font-weight: 700;
}

.con {
  padding: 0 10rem;
  display: flex;
  justify-content: space-around;
}

.mbr {
  width: 50%;
  display: flex;
}

.mbr .card {
  cursor: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.mbr .card .photo img {
  border-radius: 50%;
  height: 255px;
  width: 255px;
}

.mbr .card h4 {
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 2px;
  text-align: center;
}

.mbr .card span {
  font-style: italic;
  display: block;
  font-size: 13px;
}

.mbr .card .lnicon {
  margin-top: 15px !important;
  font-size: 18px;
  margin: 0 2px;
}
.mbr .card .lnicon i {
  transition: 0.5s;
  color: #b3b3b3;
}

.mbr .card .lnicon i:hover {
  color: #90581a;
}

.team .mbr {
  width: 25%;
}