* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(0, 0, 0);
  color: #000000;
  font-family: "Open Sans", sans-serif;
}

a {
  color: #90581a;
  transition: 0.5s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

#hero {
  width: 100%;
  height: 100vh;
  background: url(https://eagerbeavers.charusat.ac.in/img/h.jpg) top center;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}

/* navbar */
#nav {
  background: #000;
  padding: 20px 0;
  height: 90px;
  padding: 1rem 10rem;
}

#nav #logo {
  float: left;
}

#nav #logo {
  float: left;
}

#nav #logo img {
  height: 50px;
}

.nav-link li {
  float: left;
}

.nav-link li a {
  padding: 10px 15px;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-style: bold;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 14px;
  outline: none;
}

.nav-link a:hover {
  color: #90581a;
  font-weight: bold;
}

li.menu-active a {
  color: #90581a;
  font-weight: bold;
}

#nav .container {
  height: 100%;
}

#nav .container #nav-menu-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
}

/* about */
#about {
  background: #90581a;
  padding: 80px 0;
  color: #fff;
}

#about .container {
  padding: 0 15px;
  margin-right: 10rem;
  margin-left: 10rem;
}

.title {
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-bottom: 40px;
}

.description {
  line-height: 25px;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  margin-bottom: 40px;
  margin: 0 0 30px 0;
}

#events {
  background: linear-gradient(
      rgba(255, 256, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    url(https://eagerbeavers.charusat.ac.in/img/services-bg.jpg) fixed center
      center;
  background-size: cover;
  padding: 80px 0 60px 0;
}

#events .container .title h3 {
  font-size: 32px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}

